@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
html {
  margin: 0%;
  padding: 0%;
  border: 0%;
  border-width: 0%;
}
body {
  background-image: linear-gradient(
    20deg,
    hsl(260deg 100% 1%) 0%,
    hsl(218deg 79% 5%) 31%,
    hsl(218deg 80% 7%) 49%,
    hsl(218deg 80% 9%) 61%,
    hsl(218deg 80% 10%) 69%,
    hsl(218deg 80% 12%) 75%,
    hsl(218deg 80% 13%) 79%,
    hsl(218deg 80% 14%) 83%,
    hsl(218deg 80% 15%) 87%,
    hsl(218deg 80% 15%) 89%,
    hsl(218deg 80% 16%) 91%,
    hsl(218deg 80% 17%) 93%,
    hsl(218deg 80% 18%) 95%,
    hsl(218deg 80% 17%) 96%,
    hsl(218deg 79% 17%) 97%,
    hsl(219deg 78% 16%) 98%,
    hsl(219deg 77% 16%) 99%,
    hsl(219deg 76% 15%) 99%,
    hsl(220deg 75% 14%) 100%,
    hsl(220deg 74% 14%) 100%,
    hsl(221deg 73% 13%) 100%,
    hsl(222deg 71% 12%) 100%,
    hsl(223deg 69% 11%) 100%,
    hsl(225deg 66% 10%) 100%,
    hsl(228deg 62% 9%) 100%
    );
    top: auto;
    background-repeat:no-repeat;
    background-position: 0%;
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: url('cursor.png'), auto;
}

::-moz-selection {
  color: rgb(255, 255, 255)(234, 234, 234);
  background: rgb(146, 186, 199);
}

::selection {
  color: rgb(255, 255, 255);
  background: rgb(146, 186, 199);
}

body::-webkit-scrollbar  {
  display: none;
  scrollbar-width: 0%;
}

#toptitle1 {
    padding-top: 0.1in;
    color: #101721;
    font-family: SUSE;

}
.landingpagetop {
    padding: 0 0 0 0;
    margin: 0% 0% 0% 0%;
    border-radius: 2%;
    margin-top: 10%;
}

.titlepoptext {
    margin-top: 100px;
    text-align: center;
    font-size: 60px;
    color: white;
    font-family: SUSE;
    font-weight: 1000;
    margin-left: 13px;
}

#poptextsecondary {
    color: rgb(150, 198, 239);
}

.popsubtext {
    font-size: 20px;
    color: aliceblue;
    text-align: center;
    font-family: Space;
    padding-left: 5%;
    padding-right: 5%;
    font-style: italic;
    user-select:contain;
}

hr {
  color: #004AAD;
  border-color: #4280d1;
  border-width: 6%;
  margin-left: 1%;
  margin-right: 1%;
  border-style: dashed;
  margin-top:2%;
  margin-bottom: 2%;
}


.btn_container {
    position: relative;
    inset: 0px;
    width: 24rem;
    height: 1.5rem;
    max-width: 200vw;
    max-height: 100dvh;
    margin: auto;
}

.mainbutton1 {
    text-align: center;
    padding: 0.2in 0.2in 0.2in 0.2in;
    background-color: aliceblue;
    border-radius: 10%;
    text-decoration: none;
    font-weight: 600;
    color:rgb(0, 0, 0);
    position: relative;
    font-family: SUSE;
    border-radius: 10%;

}

.mainbutton1:hover {
    text-align: center;
    padding: 0.2in 0.2in 0.2in 0.2in;
    background-color: rgb(196, 221, 243);
    border-radius: 15%;
    text-decoration: none;
    font-weight: 600;
    color:#000000;
    font-family: SUSE;
}

.notification_bar {
  padding: 1%;
  background-color: yellow;
  margin-bottom: 3%;
  color: black;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.centeralign {
    flex: auto;
    margin: auto;
    text-align: center;
    align-items: flex-start;
}

.topnavdark {
    background-color: rgb(4, 26, 46);
    padding-bottom: 0%;
    height: 0px;
    margin-bottom: 0%;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 17px 17px 17px 17px;
  background-color: #ebeff6;
  color: rgb(2, 16, 28);
  text-decoration: none;
  border-radius: 7%;
  align-items: end;
  text-align: right;
  flex: content;
  margin-top: 0px;
  flex-direction: row;
  align-items: end;
  text-align: left;
  flex: auto;
  font-weight: 600;
  font-family: SUSE;
}

.navbar-lite {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: black;
  color: rgb(250, 253, 255);
  text-decoration: none;
  border-radius: 7%;
  align-items: end;
  text-align: right;
  flex: content;
  margin-top: 0px;
  flex-direction: row;
  align-items: end;
  text-align: left;
  flex: auto;
  font-weight: 600;
  font-family: SUSE;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar:hover {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: black;
  padding: 17px 17px 17px 17px;
  background-color: #d1dcec;
  color: rgb(2, 16, 28);
  text-decoration: none;
  border-radius: 7%;
  align-items: end;
  text-align: right;
  flex: content;
  margin-top: 0px;
  flex-direction: row;
  align-items: end;
  text-align: left;
  flex: auto;
  font-family: SUSE;
}

.current_page_navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
    padding: 17px 17px 17px 17px;
    background-color: #5993e084;
    color: rgb(250, 253, 255);
    text-decoration: none;
    border-radius: 7%;
    align-items: end;
    text-align: right;
    flex: content;
    margin-top: 0px;
    flex-direction: row;
    align-items: end;
    text-align: left;
    flex: auto;
    font-weight: 600;
    font-family: SUSE;
  }

#whywarden-scroller {
  scroll-behavior:smooth;
}

.scroller1 {
  text-decoration: none;
  scroll-behavior:smooth;
  color: #fdfdfd;
}

#topnamewarden {
    font-size: 33px;
    font-weight: 700;
    color: #fdfdfd;
    font-family: SUSE;
    flex: auto;
    flex-direction: row;
    align-items: end;
    text-align: left;
    margin-top: 0%;
    padding-top: 0%;
    text-decoration: none;
}

#topnav1 {
    flex: auto;
    text-align: right;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.subhead1 {
    color: aliceblue;
    font-size: 37px;
    font-family: SUSE;
    font-weight: 600;
    padding-left: 20px;
}

.subheadtext1 {
    color: #ffffff;
    padding-left: 50px;
    font-family: SUSE;
    font-weight: 300;
    font-size: 22px;
}

img {
  margin-bottom: 0%;
  padding-bottom: 0%;
}

.half-page-blank-space {
  margin-top: 15%;
  margin-bottom: 11%;
  color: #ebeff6;
  font-size: 24px;
  text-align: center;
}


/* WHY WARDEN CONTAINER */
.whywarden {
    flex: auto;
    flex-wrap: wrap;
    background-color: #fdfdfd10;
    margin: 2.5%;
    border-radius: 15px;
    margin-bottom: 10%; 
    padding: 2%;
    color: aliceblue;
    box-shadow: rgba(205, 202, 221, 0.2) 0 15px 30px -5px;
}

.whywarden #one {
    flex: auto;
    flex-wrap: wrap;
    background-color: #5a7bb9;
    margin: 0.5%;
    border-radius: 15px;
    padding-bottom: 10%;
    padding: 4%;
    color: aliceblue;
    margin-bottom: 3%;
    padding-top: 0.5%;
    align-items: start;
    align-self: self-start;
}

.whywarden #two {
  flex: auto;
  flex-wrap: wrap;
  background-color: #5a7bb9;
  margin: 0.5%;
  border-radius: 15px;
  padding-bottom: 10%;
  padding: 4%;
  color: aliceblue;
  margin-bottom: 3%;
  padding-top: 0.5%;
  align-items: end;
}

.whywarden #spanner {
  flex: auto;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.whywarden h2 {
  font-size: 2em;
  color: #ebeff6;
  font-family: SUSE;
  text-align: left;
  padding-bottom: 0%;
}

.whywarden p {
  font-size: 17px;
  color: #ebeff6;
  font-family: SUSE;
  text-align: left;
  padding-top: 0%;
}

.whywarden img {
  right: 100%;
  flex:content;
  align-self: right;
  float: right;
  margin-top: 3%;
  padding-top: 0%;
}

#bigannoyingimage {
  position: static;
  padding-bottom: 0%;
}

#text1 {
  flex: content;
  float: left;
}

/* MOBILE STUFF MOBILE STUFF */
@media screen and (max-width: 580px) {
  .desktop {
    display: none;
  }
  #topnav1 {
    display: none;
  }
  .mainbutton1 {
    display: none;
  }

  #bigannoyingimage {
    display: none;
  }

  main,nav,footer {
    display: none;
  }

  body {
    background-color: white;
    background: #ffffff;
  }

  .notification_bar {
    display: none;
  }

  #mblerror {
    margin-top: 40%;
    text-align: center;
    font-family: SUSE;
  }

  #mblerror h1 {
    color: #004AAD;
  }

  #mblerror #quicklinks {
    text-align: center;
    font-size: 16px;
    color: #000000;
  }

  #qltitle {
    font-size: 20px;
    color: #004AAD;
    font-weight: 600;
  }

  #qllinks {
    color: #000000;
    text-decoration: underline;
  }

  .bfrfooter {
    display: none;
  }
}

@media screen and (min-width: 580px) {
  .mobile {
    display: none;
  }

  .notification_bar {
    display: none;
  }

  #mblerror {
    display: none;
  }
}
/* END MOBILE STUFF END MOBILE STUFF */


/* FOOTER STUFF BELOW */
footer {
    font-family: SUSE;
    font-size: 18px;
    color: rgba(240, 248, 255, 0.794);
    padding-top: 90px;
    padding-bottom: 110px;
    padding-left: 100px;
    text-decoration: none;
    position:static;
    margin-bottom: 0%;
    bottom: 0;
    width: 100%;
    margin-top: 0%;
    border-top: 2px inset #5a7bb9;
    background-image: linear-gradient(
      45deg,
      hsl(260deg 100% 1%) 0%,
      hsl(218deg 79% 5%) 31%,
      hsl(218deg 80% 7%) 49%,
      hsl(218deg 80% 9%) 61%,
      hsl(218deg 80% 10%) 69%,
      hsl(218deg 80% 12%) 75%,
      hsl(218deg 80% 13%) 79%,
      hsl(218deg 80% 14%) 83%,
      hsl(218deg 80% 15%) 87%,
      hsl(218deg 80% 15%) 89%,
      hsl(218deg 80% 16%) 91%,
      hsl(218deg 80% 17%) 93%,
      hsl(218deg 80% 18%) 95%,
      hsl(218deg 80% 17%) 96%,
      hsl(218deg 79% 17%) 97%,
      hsl(219deg 78% 16%) 98%,
      hsl(219deg 77% 16%) 99%,
      hsl(219deg 76% 15%) 99%,
      hsl(220deg 75% 14%) 100%,
      hsl(220deg 74% 14%) 100%,
      hsl(221deg 73% 13%) 100%,
      hsl(222deg 71% 12%) 100%,
      hsl(223deg 69% 11%) 100%,
      hsl(225deg 66% 10%) 100%,
      hsl(228deg 62% 9%) 100%
      );
}

footer a{
    text-align: center;
    font-family: SUSE;
    font-size: 18px;
    color: aliceblue;
    text-decoration: underline;
}

footer .footerlogo {
  height: 80px;
  float: left;
}

.footer-header {
  font-size: 24px;
  font-weight: 800;
  padding-top: 0%;
  margin-top: 0%;
  color: aliceblue;
}

.footer-left {
  float: left;
}

.footer-subhead {
  font-size: 18px;
  font-weight: 400;
}

.footer-links {
  float: right;
}

#footerabvimg {
  margin-bottom: 0%;
  width:100%;
  align-content:center;
  flex: auto;
  position: relative;
  margin-top: 0%;
  background-color: #00000000;
  pointer-events: none;
}

#footerabvimg a{
  margin-bottom: 0%;
  width:100%;
  align-content:center;
  flex: auto;
  position: relative;
  margin-top: 0%;
  background-color: #00000000;
}

#noscrollmsg {
  color: rgba(240, 248, 255, 0.611);
  text-align: center;
  text-decoration: none;
  font-family: SUSE;
  font-size: 200%;
  font-weight: 600;
}

/* SPECIFIC FOR REDIRECT TO AVICENNA.DEV MAIN (SAME AS "footer")*/
#exclfooterlinktoavmainsite {
    background-color: rgb(56, 78, 100);
    text-align: center;
    font-family: SUSE;
    font-size: 18px;
    color: rgba(240, 248, 255, 0.794);
    padding-top: 40px;
    padding-bottom: 40px;
    text-decoration: none;
}

/* TEXT ANIMATION */
#wardenmainsmallgray {
    font-size: 34px;
    color: #90B2F2;
    margin-bottom: 0%;
}
.rotatingText { 
    align-items: center;
    display: flex;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .rotatingText-content { 
    position: relative;
    width: 100%;
  }
  
  .rotatingText-adjective { 
    font-family: 'Open Sans', sans-serif;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 100%;
    color: white;
    font-family: SUSE;
    font-weight: 1000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 0;
    white-space: nowrap;
    width: fit-content;
    flex-wrap: wrap;
    flex: content;
    
    @media (min-width: 768px) { 
      font-size: 70px;
    }
    
    &:nth-of-type(1) { 
      animation: rotate-text-up 2.5s .75s; 
    }
    
    &:nth-of-type(2) { 
      animation: rotate-text-up 2.5s 3s; 
    }  
    
    &:nth-of-type(3) { 
      animation: rotate-text-up 3.5s 5.2s;
    }

    &:nth-of-type(4) { 
      animation: fade-text-in 2.5s 8.34s forwards;
    }
  }
  
 
  @keyframes rotate-text-up { 
    0% {
      transform: translate3d(0, 80px, 0);
      opacity: 0;
    }
    
    20%, 80% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    
    100% {
      transform: translate3d(0, -40px, 0);
      opacity: 0;
    }
  }
  
  @keyframes fade-text-in { 
    0% {
      opacity: 0;
      transform: translate3d(0, 80px, 0);
    }
    
    50%, 100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
